@model MagicTracker.Models.DeckDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeckDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeckId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commander)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commander)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Companion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Companion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SideboardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideboardId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
