@model MagicTracker.Models.DeckDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeckDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeckId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckStyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commander)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commander)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Companion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Companion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SideboardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideboardId)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeckId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
